body {
     background-color: black;
     color: #cc9900;
     font-family: monospace;
}

a {
    color: #cc9900;
}

#content {
    width: 85%;
    margin: auto auto;
}

#header {
    text-align: center;
}

#header p {
    margin-top: 0.1em;
}

h1 {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 0;
}

.nobr {
    white-space: nowrap;
}

.intro {
    padding: 1em 0 0 0;
}

dt {
    font-weight: bold;
}

p {
    margin: 0 0 0.6em;
}